<h2>Show payment</h2>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @payment.amount %>
  </li>

</ul>

<%= link "Edit", to: payment_path(@conn, :edit, @payment) %>
<%= link "Back", to: payment_path(@conn, :index) %>
